---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
}

const { entry } = Astro.props;
---

<a href={`/${entry.collection}/${entry.slug}`} class="block py-4 pr-8 border-b border-zinc-200 dark:border-blackblue-light">
  <p class="font-semibold group-hover:text-black group-hover:dark:text-white transition-colors duration-300 ease-in-out">
    {entry.data.title}
  </p>
  <p class="text-sm">
    {entry.data.description}
  </p>
</a>

<aside class="absolute -z-10 inset-0 -inset-x-3 -top-[1px] group-hover:bg-zinc-200 group-hover:dark:bg-blackblue-light transition-colors duration-300 ease-in-out" />

<!-- when use touch -->
<svg xmlns="http://www.w3.org/2000/svg" 
  viewBox="0 0 24 24" 
  class="arrow absolute top-1/2 -right-1 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current"> 
  <line x1="5" y1="12" x2="19" y2="12" class="" /> 
  <polyline points="12 5 19 12 12 19" class="" /> 
</svg> 

<!-- when use cursor -->
<svg xmlns="http://www.w3.org/2000/svg" 
  viewBox="0 0 24 24" 
  class="arrow-motion absolute top-1/2 -right-1 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current opacity-50 group-hover:opacity-100 group-hover:stroke-black group-hover:dark:stroke-white transition-all duration-300 ease-in-out"> 
  <line x1="5" y1="12" x2="19" y2="12" class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out" /> 
  <polyline points="12 5 19 12 12 19" class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out" /> 
</svg>