---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
---

<footer class="animate relative py-5 pb-10 text-sm show">
  <Container>
    <div class="flex justify-between items-center">
      <div>
        &copy; 2024 {`•`} {SITE.NAME}
      </div>
    </div>
  </Container>
</footer>

<div class="fixed bottom-8 w-full">
  <Container>
    <div class="flex flex-nowrap justify-end w-full">
      <BackToTop />
    </div>
  </Container>
</div>