---
interface Props {
  displayText?: string;
}

const { displayText = "Show me" } = Astro.props;
const generateUUID = () => Math.random().toString(36).substring(2, 9);
const componentId = `data-protect-${generateUUID()}`;

---

<span id={componentId} class="cursor-pointer" data-nosnippet>
  <span class="shield">{displayText}</span>
  <div class="protected hidden">
    <slot />
  </div>
</span>

<script is:inline define:vars={{ componentId }}>
  (() => {
    const container = document.getElementById(componentId);
    const shieldElement = container.querySelector(".shield");
    const protectedElement = container.querySelector(".protected");
    let isRevealed = false;

    container.addEventListener("click", () => {
      if (!isRevealed) {
        isRevealed = true;
        shieldElement.classList.toggle("hidden");
        protectedElement.classList.toggle("hidden");
      }
    });
  })();
</script>